extends layout

block content
    h1#taskHeader.
        Task List
    #listContainer
        ul
            each task, i in tasklist
                li
                    a(href='/editTask')=task.task
                li= task.description
                hr